p, ul, ol{
margin-top: 6px;
margin-bottom: 6px;
}
ul, ol{
padding-left:10px;
margin-left:10px;
}
canvas, img{
vertical-align:bottom;
}
body{
overflow:hidden;
font-family: sans-serif;
font-size: 0.8em;
-webkit-user-select: none;
user-select: none;
position: fixed;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
margin: 0;
}

td {
font-size: 0.8em;
}
pre {
font-size: 1.2em;
margin-left: 15px;
}
#all_below_toolbar{
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: row;
}

.info_summary{
    position: absolute;
	margin: 3px;
	padding: 3px;
	top: 0px;
	background: rgba(255,255,255,0.5);
	-webkit-transition: opacity 0.5s ease-in-out;
   -moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	 -o-transition: opacity 0.5s ease-in-out;
		transition: opacity 0.5s ease-in-out;
}
.hidden_clipboard{
opacity: 0;
position: absolute;
top: -10000px;
right: 0;
-webkit-user-select: initial;
-khtml-user-select: inital;
-moz-user-select: -moz-initial;
-o-user-select: initial;
user-select: initial;
}
.menu_toggle{
position: fixed;
top: 0px;
right: 0px;
background: #efefef;
}
.grabbable{
position: relative;
}
.poslayer{
margin: 0 auto;
position: absolute;
height: 100%;
left: 0;
right: 0;
min-height: 150px;
image-rendering: pixelated;
}
.side_panel{
  display: flex;
  flex-direction: column;
}
.side_panel_row_flex{
  flex: 2;
}
.side_panel_row{
overflow: hidden;
position: relative;
display: flex;
flex-direction: column;
}
.button_area{
min-height: 20px;
max-height: 100px;
}
#action_panel{
max-height: 200px;
overflow-y: scroll;
width: 100%;
}
#files_panel{
overflow-x: hidden;
}
#info_panel{
width: 100%;
max-height: 400px;
}
.side_panel_row:last-of-type{
height: 100%;
}
.above_scrolled_area{
box-shadow: 0px 3px 10px 0px #bbb;
position: relative;
}
.scrollable_area{
overflow-y: scroll;
}
.slider_val{
font-weight: bold;
}
#works_with_chrome{
position: absolute;
right: 60px;
bottom: 60px;
text-align: right;
}
#works_with_chrome > img{
vertical-align: text-top;
}
.pending{
background: #FCC;
}
.pending:hover{
background: #FAA;
}
.github_button_filedrop{
cursor: pointer;
margin: 20px 0px 0px 0px;
border: 1px solid #999;
display: inline-block;
padding: 4px 10px 4px 10px;
border-radius: 4px;
background: #eee;
}
.github_button_filedrop:hover{
background: #ddd;
border-color: #777;
}
#youtube_demo_img:hover {
content: url('img/demo_youtube_hover.png');
}
.tilewall_text{
text-align: center;
}
.action{
color: #900;
border: 1px solid #900;
margin: 5px;
padding: 2px;
}
.undo{
background: #900;
padding-left: 5px;
padding-right: 5px;
font-weight: bold;
height: 15px;
float: right;
color: #fff;
cursor: pointer;
top: 8px;
left: -10px;
position: relative;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: -moz-none;
-o-user-select: none;
user-select: none;
}
.undo:hover{
background: #500;
color: #fff;
}
.toggle_panel{
background: #000;
width: 52px;
height: 12px;
position: absolute;
right: 15px;
margin-top: 2px;
transform:translateY(-5px);
-webkit-transform:translateY(-5px);
-ms-transform:translateY(-5px);
}
.toggle_panel:hover{
width: 48px;
height: 14px;
background: #500;
border: 2px solid #fff;
margin-top:0;
}
.file_info{
width: 400px;
}
.file_info_title{
margin-top: 5px;
}
.header_field_name{
color: #500;
font-weight: bold;
}
.header_field_value{
color: #500;
}
.tilewall{
flex: 2;
padding: 5px;
overflow-y:auto;
overflow-x:hidden;
-webkit-user-select: none;
user-select: none;
cursor: default;
position: relative;
}
.row_title{
font-weight: bold;
display: block;
background: #eee;
border-bottom: 1px solid #e8e8e8;
cursor: pointer;
box-shadow: 0px -2px 6px rgba(0,0,0,0.2);
padding-left: 5px;
}
.row_title:hover{
background: #e5e5e5;
}
::-webkit-scrollbar {
width: 10px;
height: 10px;
}
::-webkit-scrollbar-button {
width: 0;
height: 0;
display: none;
}
::-webkit-scrollbar-thumb {
background-color: rgba(0,0,0,0.2);
-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}
.button_group {
width: 100%;
margin: 3px;
font-size:0;
}
.button_group > *{
font-size: 12px;
}

.button{
background: #f5f5f5;
text-align: center;
padding: 5px 10px 5px 10px;
margin: 2px;
display: inline-block;
border: 1px solid #ccc;
cursor: pointer;
}
.button[checked],
.button[active]{
background: #ffffe0;
border: 1px #000 solid;
}
.button:hover{
color: #C77;
border: 1px #C77 solid;
}

input[type="text"]{
text-align: center;
}
.widget-moving{
cursor: none;
}
button{
border: 1px solid #900;
color: #900;
padding: 5px 15px 5px 15px;
margin: 0px 2px 0px 2px;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.9) inset, 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
border-radius: 4px;
cursor: pointer;
}
button:hover{
background: #C77;
color: #FFF;
}
button:active{
background: #900;
border-color: #000;
}

input[type="text"]{
padding: 3px 0px 3px 0px;
}

#cluster_panel{
	text-align: center;
	cursor: none;
}
.floatinginfo #cluster_panel{
	cursor: inherit;
}
#cluster_panel > canvas{
margin: 2px;
border: 1px solid #000;
}

.tetrode_title{
display: inline-block;
padding-right: 5px;
}
.file_group{
display: block;
text-align: left;
}
.cluster-sticker{
width: 20px;
height: 17px;
border: 1px solid #000;
text-align: center;
font-size: 0.8em;
padding-top: 3px;
margin: 2px;
display: inline-block;
cursor: default;
}
.cluster-sticker[active]{
box-shadow: 0px 0px 5px 3px #fc0;
}
.cluster_painter{
float:left;
}
#painter-src{
display: inline-block;
}
.cluster_others{
text-align: right;
min-height: 26px;
}

#eegspect{
display:block;
margin-top: 4px;
}



