/* 
* {
    padding: 0;
    margin: 0;
}
*/
p,ul,ol{
margin-top: 6px;
margin-bottom: 6px;
}
ul,ol{image-rendering: pixelated;
padding-left:10px;
margin-left:10px;
}
body{
    overflow:hidden;
font-family: sans-serif;
font-size: 0.8em;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: -moz-none;
-o-user-select: none;
user-select: none;
}
#all_below_toolbar{
  position: relative;
}
.keyboard_focus_notifier.ease{
  transition: border-color 0.3s ease-in-out;
}
.keyboard_focus_notifier{
  position: absolute;
  pointer-events: none;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 20px solid;
  border-color: rgba(255,0,0,0);
}
.keyboard_focus_notifier.no_focus{
  border-color: rgba(255,0,0,0.2);
}
.info_summary{
    position: absolute;
	margin: 3px;
	padding: 3px;
	top: 0px;
	background: rgba(255,255,255,0.5);
	-webkit-transition: opacity 0.5s ease-in-out;
   -moz-transition: opacity 0.5s easee-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	 -o-transition: opacity 0.5s ease-in-out;
		transition: opacity 0.5s ease-in-out;
}
.hidden_clipboard{
opacity: 0;
position: absolute;
top: -10000px;
right: 0;
-webkit-user-select: initial;
-khtml-user-select: inital;
-moz-user-select: -moz-initial;
-o-user-select: initial;
user-select: initial;
}
.floating_layer{
position: fixed;
z-index:100;
}
.main_toolbar{
background: #efefef;
box-shadow: inset 0 0 2px 1px #ccc;
}
.menu_toggle{
position: fixed;
top: 0px;
right: 0px;
background: #efefef;
}
td{
font-size: 0.8em;
}
canvas, img{
vertical-align:bottom;
}
.grabbable{
position: relative;
}
.poslayer{
margin: 0 auto;
position: absolute;
height: 100%;
left: 0;
right: 0;
min-height: 150px;
image-rendering: pixelated;
}
.cluster_canv{
image-rendering: pixelated;
}
.tilewall[tilemoving]{
cursor: move;
}
.main_wrapper{
position: fixed;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
}
.side_panel_row{
overflow: hidden;
position: relative;
}
/*shake css from daneden.me */
@-webkit-keyframes shake{0%,100%{-webkit-transform:translateX(0)}10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px)}20%,40%,60%,80%{-webkit-transform:translateX(10px)}}
@-moz-keyframes shake{0%,100%{-moz-transform:translateX(0)}10%,30%,50%,70%,90%{-moz-transform:translateX(-10px)}20%,40%,60%,80%{-moz-transform:translateX(10px)}}
@-o-keyframes shake{0%,100%{-o-transform:translateX(0)}10%,30%,50%,70%,90%{-o-transform:translateX(-10px)}20%,40%,60%,80%{-o-transform:translateX(10px)}}
@keyframes shake{0%,100%{transform:translateX(0)}10%,30%,50%,70%,90%{transform:translateX(-10px)}20%,40%,60%,80%{transform:translateX(10px)}}

.button_area{
min-height: 20px;
max-height: 100px;
}
#action_panel{
max-height: 200px;
overflow-y: scroll;
width: 100%;
}
#files_panel{
overflow-x: hidden;
}
#info_panel{
width: 100%;
max-height: 400px;
}
.side_panel_row:last-of-type{
height: 100%;
}
.above_scrolled_area{
box-shadow: 0px 3px 10px 0px #bbb;
position: relative;
}
.scrollable_area{
overflow-y: scroll;
}
.slider_val{
font-weight: bold;
}
#works_with_chrome{
position: absolute;
right: 60px;
bottom: 60px;
text-align: right;
}
#works_with_chrome > img{
vertical-align: text-top;
}


.pending{
background: #FCC;
}
.pending:hover{
background: #FAA;
}


.file_drop{
position: fixed;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
padding: 5px;
display: block;
text-align: center;
background: #FFFFFF;
color: #888;
z-index: 100;
}
.file_drop:before{
position: fixed;
margin: 40px;
border: 10px dashed #999;
right: 0px;
left: 0px;
content: '';
bottom: 0px;
top: 0px;
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 32%, rgba(255,255,255,1) 37%, rgba(255,255,255,0) 55%, rgba(255,255,255,0) 62%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(32%,rgba(255,255,255,1)), color-stop(37%,rgba(255,255,255,1)), color-stop(55%,rgba(255,255,255,0)), color-stop(62%,rgba(255,255,255,0)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 32%,rgba(255,255,255,1) 37%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 62%);
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 32%,rgba(255,255,255,1) 37%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 62%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 32%,rgba(255,255,255,1) 37%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 62%);
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 32%,rgba(255,255,255,1) 37%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 62%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}
.file_drop.alreadyUsed{
    background: initial;
}
.file_drop.alreadyUsed:before{
    border: 0px;
}
.drop_banner{
    font-size: 4em;
    position: absolute;
    bottom: 130px;
    text-align: center;
    width: 100%;
}
.wibbly_wobbly{
    -webkit-animation-name: 'spaceboots';
    -webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;    
}
.github_button_filedrop{
    cursor: pointer;
    margin: 20px 0px 0px 0px;
    border: 1px solid #999;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
    background: #eee;
}
.github_button_filedrop:hover{
    background: #ddd;
    border-color: #777;
}
.file_drop_text,
.tilewall_text{
margin: auto;
position: absolute;
height: 100px;
bottom: 0px;
top: 0px;
left: 0px;
right: 0px;
}
.tilewall_text{
text-align: center;
}
.action{
color: #900;
border: 1px solid #900;
margin: 5px;
padding: 2px;
}
.undo{
background: #900;
padding-left: 5px;
padding-right: 5px;
font-weight: bold;
height: 15px;
float: right;
color: #fff;
cursor: pointer;
top: 8px;
left: -10px;
position: relative;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: -moz-none;
-o-user-select: none;
user-select: none;
}
.undo:hover{
background: #500;
color: #fff;
}
.collapsable_panel[state="closed"]{
	height: 5px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.toggle_panel{
background: #000;
width: 52px;
height: 12px;
position: absolute;
right: 15px;
margin-top: 2px;
transform:translateY(-5px);
-webkit-transform:translateY(-5px);
-ms-transform:translateY(-5px);
}
.toggle_panel:hover{
width: 48px;
height: 14px;
background: #500;
border: 2px solid #fff;
margin-top:0;
}
.file_info{
    width: 400px;
}
.file_info_title{
margin-top: 5px;
}
.header_field_name{
color: #500;
font-weight: bold;
}
.header_field_value{
color: #500;
}
.tilewall{
padding: 5px;
overflow-y:auto;
overflow-x:hidden;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: -moz-none;
-o-user-select: none;
user-select: none;
cursor: default;
position: relative;
}
.row_title{
font-weight: bold;
display: block;
background: #eee;
border-bottom: 1px solid #e8e8e8;
cursor: pointer;
box-shadow: 0px -2px 6px rgba(0,0,0,0.2);
padding-left: 5px;
}
.row_title:hover{
background: #e5e5e5;
}
::-webkit-scrollbar {
width: 10px;
height: 10px;
}
::-webkit-scrollbar-button {
width: 0;
height: 0;
display: none;
}
::-webkit-scrollbar-thumb {
background-color: rgba(0,0,0,0.2);
-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}
.button_group {
width: 100%;
margin: 3px;
font-size:0;
}
.button_group > *{
font-size: 12px;
}

.button{
background: #f5f5f5;
text-align: center;
padding: 5px 10px 5px 10px;
margin: 2px;
display: inline-block;
border: 1px solid #ccc;
cursor: pointer;
}
.button[checked],
.button[active]{
background: #ffffe0;
border: 1px #000 solid;
}
.button:hover{
color: #C77;
border: 1px #C77 solid;
}

input[type="text"]{
text-align: center;
}
.widget-moving{
cursor: none;
}
button{
border: 1px solid #900;
color: #900;
padding: 5px 15px 5px 15px;
margin: 0px 2px 0px 2px;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.9) inset, 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
border-radius: 4px;
cursor: pointer;
}
button:hover{
background: #C77;
color: #FFF;
}
button:active{
background: #900;
border-color: #000;
}

.file_group_title{
font-weight: bold;
}
.tet_group{
display: inline;
}
.file_brick{
display: inline-block;
border: 2px #000 solid;
padding: 2px;
margin: 2px;
background: #ddd;
cursor: default;
}

.cut_file_brick{
background: #fbb;
border-color: #500;
color: #500;
}
.tet_file_brick{
color: #000;
}

.file_group[active] > .tet_group[active] > .cut_file_brick:hover,
.file_group[active] > .tet_group[active] > .cut_file_brick[active]{
background: #500;
color: #fff;
}
.pos_file_brick,
.set_file_brick{
background: #ddb550;
border-color: #552510;
color: #552510;
}
.new_cut_file_brick{
background: #bbF;
border-color: #005;
color: #005;
}
.file_group[active] > .tet_group[active] > .new_cut_file_brick:hover,
.file_group[active] > .tet_group[active] > .new_cut_file_brick[active]{
background: #005;
color: #fff;
}

#filestem_caption{
text-align:left;
}
.tet_group:not([active]) > div:not(:hover){
width: 2px;
font-size:0;
}
input[type="text"]{
padding: 3px 0px 3px 0px;
}
#header_search{
float: right;
font-size: 0.8em;
}

#cluster_panel{
	text-align: center;
	cursor: none;
}
.floatinginfo #cluster_panel{
	cursor: inherit;
}
#cluster_panel > canvas{
margin: 2px;
border: 1px solid #000;
}
.floatinginfo{
position: fixed;
top: 0px;
left: 0px;
transform: translate(400px,100px);
-webkit-transform: translate(400px, 100px);
min-width: 200px;
max-width: 400px;
background-color: rgba(255,255,255,0.8);
display:none;
z-index:100;
cursor: move;
box-shadow: 3px 3px 7px #999;
}
.showing{
display: block;
}
.floating_title{
background:#333;
color: #fff;
font-weight:bold;
display: block;
padding:5px;
}
.floating_body{
border: 1px solid #000;
min-height: 60px;
padding: 8px;
}
.grabbed_info{
min-width: initial;
max-width: initial;
}
html[dragging]>* {
pointer-events: none;
}
html[dragging]{
cursor:move;
}
pre{
font-size: 1.2em;
margin-left: 15px;
}
.tetrode_title{
display: inline-block;
padding-right: 5px;
}
.file_group{
display: block;
text-align: left;
}


.cluster-sticker{
width: 20px;
height: 17px;
border: 1px solid #000;
text-align: center;
font-size: 0.8em;
padding-top: 3px;
margin: 2px;
display: inline-block;
cursor: default;
}
.cluster-sticker[active]{
box-shadow: 0px 0px 5px 3px #fc0;
}
.cluster_painter{
float:left;
}
#painter-src{
display: inline-block;
}
.cluster_others{
text-align: right;
min-height: 26px;
}


#eegspect{
display:block;
margin-top: 4px;
}



@-webkit-keyframes spaceboots {
    /* Taken from http://www.cssreset.com/demos/css3/webkit-animation-shake-links/spaceboots.html */
    0%   { -webkit-transform: translate(2px, 1px)   rotate(0deg); }
	10%  { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20%  { -webkit-transform: translate(-3px, 0px)  rotate(1deg); }
	30%  { -webkit-transform: translate(0px, 2px)   rotate(0deg); }
	40%  { -webkit-transform: translate(1px, -1px)  rotate(1deg); }
	50%  { -webkit-transform: translate(-1px, 1px)  rotate(-1deg); }
	60%  { -webkit-transform: translate(-3px, -2px)  rotate(0deg); }
	70%  { -webkit-transform: translate(2px, 1px)   rotate(-1deg); }
	80%  { -webkit-transform: translate(-1px, -2px) rotate(1deg); }
	90%  { -webkit-transform: translate(2px, -1px)   rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px)  rotate(-1deg); }
}


